## Zomato Mumbai Data Analysis Project

## 1.Importing Libraries

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.io as pio

pio.renderers.default = "svg"

In [3]:
#!pip install plotly

Collecting plotly
  Downloading plotly-6.0.0-py3-none-any.whl.metadata (5.6 kB)
Collecting narwhals>=1.15.1 (from plotly)
  Downloading narwhals-1.30.0-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: packaging in c:\anaconda3\envs\aiml\lib\site-packages (from plotly) (24.2)
Downloading plotly-6.0.0-py3-none-any.whl (14.8 MB)
   ---------------------------------------- 0.0/14.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/14.8 MB ? eta -:--:--
    --------------------------------------- 0.3/14.8 MB ? eta -:--:--
    --------------------------------------- 0.3/14.8 MB ? eta -:--:--
   - -------------------------------------- 0.5/14.8 MB 840.2 kB/s eta 0:00:17
   -- ------------------------------------- 0.8/14.8 MB 1.1 MB/s eta 0:00:13
   -- ------------------------------------- 1.0/14.8 MB 1.1 MB/s eta 0:00:13
   ---- ----------------------------------- 1.6/14.8 MB 1.2 MB/s eta 0:00:11
   ---- ----------------------------------- 1.8/14.8 MB 1.3 MB/s eta 0:00:11
   ----- ---------------------------------- 2.1/14.8 MB 1.3 MB/s eta 0:00:10
   ------- -------------------------------- 2.6/14.8 MB 1.4 MB/s eta 0:00:09
   ------- -------------------------------- 2.9/14.8 MB 1.4 MB/s eta 0:00:09
   -------- ------------------------------- 3.1/14.8 MB 1.4 MB/s eta 0:00:09
   --------- ------------------------------ 3.4/14.8 MB 1.4 MB/s eta 0:00:09
   --------- ------------------------------ 3.4/14.8 MB 1.4 MB/s eta 0:00:09
   --------- ------------------------------ 3.7/14.8 MB 1.3 MB/s eta 0:00:09
   ---------- ----------------------------- 3.9/14.8 MB 1.3 MB/s eta 0:00:09
   ----------- ---------------------------- 4.2/14.8 MB 1.3 MB/s eta 0:00:09
   ------------ --------------------------- 4.5/14.8 MB 1.2 MB/s eta 0:00:09
   ------------ --------------------------- 4.5/14.8 MB 1.2 MB/s eta 0:00:09
   ------------ --------------------------- 4.7/14.8 MB 1.2 MB/s eta 0:00:09
   ------------- -------------------------- 5.0/14.8 MB 1.2 MB/s eta 0:00:09
   -------------- ------------------------- 5.2/14.8 MB 1.2 MB/s eta 0:00:09
   -------------- ------------------------- 5.5/14.8 MB 1.2 MB/s eta 0:00:08
   -------------- ------------------------- 5.5/14.8 MB 1.2 MB/s eta 0:00:08
   --------------- ------------------------ 5.8/14.8 MB 1.1 MB/s eta 0:00:09
   ---------------- ----------------------- 6.0/14.8 MB 1.1 MB/s eta 0:00:08
   ---------------- ----------------------- 6.3/14.8 MB 1.1 MB/s eta 0:00:08
   ----------------- ---------------------- 6.6/14.8 MB 1.2 MB/s eta 0:00:08
   ------------------ --------------------- 6.8/14.8 MB 1.2 MB/s eta 0:00:07
   ------------------- -------------------- 7.3/14.8 MB 1.2 MB/s eta 0:00:07
   -------------------- ------------------- 7.6/14.8 MB 1.2 MB/s eta 0:00:06
   --------------------- ------------------ 7.9/14.8 MB 1.2 MB/s eta 0:00:06
   --------------------- ------------------ 8.1/14.8 MB 1.2 MB/s eta 0:00:06
   ---------------------- ----------------- 8.4/14.8 MB 1.2 MB/s eta 0:00:06
   ----------------------- ---------------- 8.7/14.8 MB 1.2 MB/s eta 0:00:06
   ----------------------- ---------------- 8.7/14.8 MB 1.2 MB/s eta 0:00:06
   ------------------------ --------------- 8.9/14.8 MB 1.2 MB/s eta 0:00:05
   ------------------------ --------------- 8.9/14.8 MB 1.2 MB/s eta 0:00:05
   ------------------------ --------------- 9.2/14.8 MB 1.1 MB/s eta 0:00:05
   ------------------------- -------------- 9.4/14.8 MB 1.1 MB/s eta 0:00:05
   -------------------------- ------------- 9.7/14.8 MB 1.1 MB/s eta 0:00:05
   -------------------------- ------------- 10.0/14.8 MB 1.1 MB/s eta 0:00:05
   -------------------------- ------------- 10.0/14.8 MB 1.1 MB/s eta 0:00:05
   --------------------------- ------------ 10.2/14.8 MB 1.1 MB/s eta 0:00:05
   ----------------------------- ---------- 10.7/14.8 MB 1.1 MB/s eta 0:00:04
   ------------------------------ --------- 11.3/14.8 MB 1.2 MB/s eta 0:00:04
   ------------------------------ --------- 11.3/14.8 MB 1.2 MB/s eta 0:00:04
   ------------------------------- -------- 11.5/14.8 MB 1.2 MB/s eta 0:00:03
   -------------------------------- ------- 12.1/14.8 MB 1.2 MB/s eta 0:00:03
   ---------------------------------- ----- 12.8/14.8 MB 1.2 MB/s eta 0:00:02
   ------------------------------------ --- 13.4/14.8 MB 1.3 MB/s eta 0:00:02
   -------------------------------------- - 14.2/14.8 MB 1.3 MB/s eta 0:00:01
   -------------------------------------- - 14.4/14.8 MB 1.3 MB/s eta 0:00:01
   -------------------------------------- - 14.4/14.8 MB 1.3 MB/s eta 0:00:01
   ---------------------------------------  14.7/14.8 MB 1.3 MB/s eta 0:00:01
   ---------------------------------------- 14.8/14.8 MB 1.3 MB/s eta 0:00:00
Downloading narwhals-1.30.0-py3-none-any.whl (313 kB)
Installing collected packages: narwhals, plotly
Successfully installed narwhals-1.30.0 plotly-6.0.0

## 2. Importing the Dataset

In [6]:
raw_df=pd.read_csv("Zomato_Mumbai_Dataset.csv")

In [14]:
raw_df

,"NAME|""PRICE""|""CUSINE_CATEGORY""|""CITY""|""REGION""|""URL""|""PAGE NO""|""CUSINE TYPE""|""TIMING""|""RATING_TYPE""|""RATING""|""VOTES""",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,"Hitchki|""1200""|""Modern Indian",North Indian,Chinese,Momos,Biryani,Continental,American,"Fast Food""|""Mumbai""|""First International Finan...",NaN,NaN,NaN,NaN,NaN
1,"Baba Falooda|""400""|""Desserts",Ice Cream,"Beverages""|""Mumbai""|""Mahim""|""https://www.zomat...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Chin Chin Chu|""1800""|""Asian","Chinese""|""Mumbai""|""Juhu""|""https://www.zomato.c...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Butterfly High|""1000""|""Modern Indian""|""Mumbai""...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"BKC DIVE|""1200""|""North Indian",Chinese,"Continental""|""Mumbai""|""Bandra Kurla Complex""|""...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15076,"Hari Om Snack Bar|""350""|""Fast Food",South Indian,"Chinese""|""Mumbai""|""Kandivali West""|""https://ww...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15077,"PitaBurg|""400""|""Fast Food","Lebanese""|""Mumbai""|""Lower Parel""|""https://www....",Tue,Wed,Thu,Sun),"11am to ...""|""Average""|""3.4""|""99""",NaN,NaN,NaN,NaN,NaN,NaN
15078,"Uncha Otlawala|""300""|""Desserts","Ice Cream""|""Mumbai""|""Kandivali West""|""https://...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15079,"Mandarin Panda|""400""|""Desserts",Chinese,"Thai""|""Mumbai""|""Malad West""|""https://www.zomat...","7pm to 1am(Mon-Sun)""|""Good""|""3.7""|""121""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15080,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
raw_df.head()

,"NAME|""PRICE""|""CUSINE_CATEGORY""|""CITY""|""REGION""|""URL""|""PAGE NO""|""CUSINE TYPE""|""TIMING""|""RATING_TYPE""|""RATING""|""VOTES""",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,"Hitchki|""1200""|""Modern Indian",North Indian,Chinese,Momos,Biryani,Continental,American,"Fast Food""|""Mumbai""|""First International Finan...",NaN,NaN,NaN,NaN,NaN
1,"Baba Falooda|""400""|""Desserts",Ice Cream,"Beverages""|""Mumbai""|""Mahim""|""https://www.zomat...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Chin Chin Chu|""1800""|""Asian","Chinese""|""Mumbai""|""Juhu""|""https://www.zomato.c...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Butterfly High|""1000""|""Modern Indian""|""Mumbai""...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"BKC DIVE|""1200""|""North Indian",Chinese,"Continental""|""Mumbai""|""Bandra Kurla Complex""|""...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 3.Getting Basic Information about the Dataset

In [9]:
raw_df.columns

Index(['NAME|"PRICE"|"CUSINE_CATEGORY"|"CITY"|"REGION"|"URL"|"PAGE NO"|"CUSINE TYPE"|"TIMING"|"RATING_TYPE"|"RATING"|"VOTES"',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12'],
      dtype='object')

In [10]:
raw_df.shape

(15081, 13)

In [11]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15081 entries, 0 to 15080
Data columns (total 13 columns):
 #   Column                                                                                                                Non-Null Count  Dtype
---  ------                                                                                                                --------------  -----
 0   NAME|"PRICE"|"CUSINE_CATEGORY"|"CITY"|"REGION"|"URL"|"PAGE NO"|"CUSINE TYPE"|"TIMING"|"RATING_TYPE"|"RATING"|"VOTES"  15081 non-null  object
 1   Unnamed: 1                                                                                                            11369 non-null  object
 2   Unnamed: 2                                                                                                            7045 non-null   object
 3   Unnamed: 3                                                                                                            3766 non-null   object
 4   Unnamed: 4                                                                                                            1724 non-null   object
 5   Unnamed: 5                                                                                                            797 non-null    object
 6   Unnamed: 6                                                                                                            429 non-null    object
 7   Unnamed: 7                                                                                                            222 non-null    object
 8   Unnamed: 8                                                                                                            92 non-null     object
 9   Unnamed: 9                                                                                                            38 non-null     object
 10  Unnamed: 10                                                                                                           18 non-null     object
 11  Unnamed: 11                                                                                                           10 non-null     object
 12  Unnamed: 12                                                                                                           3 non-null      object
dtypes: object(13)
memory usage: 1.5+ MB

In [12]:
raw_df.describe()

,"NAME|""PRICE""|""CUSINE_CATEGORY""|""CITY""|""REGION""|""URL""|""PAGE NO""|""CUSINE TYPE""|""TIMING""|""RATING_TYPE""|""RATING""|""VOTES""",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
count,15081,11369,7045,3766,1724,797,429,222,92,38,18,10,3
unique,13852,5563,4190,2558,1189,490,269,157,63,26,11,9,3
top,"NAME|""PRICE""|""CUSINE_CATEGORY""|""CITY""|""REGION""...",Chinese,Chinese,Fast Food,Wed,Sat,Sat,Sun),Sun),Sat,Sun),Sun),"630pm to ...""|""Good""|""3.9""|""369"""
freq,942,1444,482,108,57,46,30,20,11,6,7,2,1

# 4. Cleaning the Dataset
## a.Removing the redundunt rows of data

In [13]:
#checking redundunt rows of data

wrong_data = raw_df['PAGE NO']=='PAGE NO'
raw_df[wrong_data]

KeyError: 'PAGE NO'